.nav-link {
    color: #000 !important;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    transition: background-color 0.3s, color 0.3s;
}


.nav-link.active {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 8px;
}

.active-link {
    background: #121212 !important;
    color: #fff !important;
    border-radius: 10px;
    font-weight: 500;
    border-left: 5px solid #4a90e2 !important;
}

.nav-link:hover {
    background: #f3f3f3;
    border-radius: 10px;
}